.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 0;
  right: 0;
  margin-top: 64px;
  z-index: 0;
}

.logo {
  width: 183px;
}

.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  z-index: 2;
}

.header__title {
  margin: 0;
  padding: 0;
  padding-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.description {
  margin-top: 100px;
}

.two-columns {
  margin-top: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*Секция digits начало*/
.digits {
  padding-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.section-title {
  margin: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.table {
  padding: 0;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
}

.feynman__title {
  margin: 0 auto;
  padding: 100px 0 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  padding: 0;
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
}

.table_theme_dark {
  z-index: 2;
}

.section-title_theme_dark {
  position: relative;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  right: -210px;
  top: 0;
  background-size: cover;
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  box-sizing: border-box;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  background-repeat: no-repeat;
  height: 35px;
}

.footer__columns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  padding: 0;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 16px;
  list-style-type: none;
}

.footer__social-icons {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

